<div class="crop" [style.width.px]="cropWidth" [title] = "rating">
    <div style="width:100%">
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
        <fa-icon [icon]="faStar" size="xs"[classes]="['star-yellow']"></fa-icon>
    </div>
    

</div>
